h1, h2, h3, h4, h5, h6, p{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: white;
}
video, audio{
  display: block;
  margin: 0 auto;
}
video{
  padding: 7px;
  border: 2px solid grey;
  border-radius: 7px;
  box-shadow: 2px 2px 17px grey;
}
body{
  background: rgba(0, 0, 0, 0.7);
}
.icon{
  margin: 7px auto;
  position: absolute;
  left: 145px;
  padding-top: 10px;
  z-index: 7;
  transition: all .3s;

}
input{
  display: inline;
}
.input{
  margin: 20px auto;
}
.btn-input{
  position: absolute;
}
#load-video{
  width: 85%;
  border-radius: 3px;
}
#btn-input{
  width: 13%;
  border-radius: 3px;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
}
i{
  color: rgba(10, 10, 10, 0.6);
  margin-right: 7px;
}
#backward:hover{
    color: rgba(10, 10, 10, 0.9);
}
#stop:hover{
  color: rgba(10, 10, 10, 0.9);
}
#forward:hover{
  color: rgba(10, 10, 10, 0.9);
}
#for:hover{
  color: rgba(10, 10, 10, 0.9);
}
#back:hover{
  color: rgba(10, 10, 10, 0.9);
}
